.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loading{
    font-size: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}